node_modules/
.DS_Store
dist/
dist-ssr/
*.local
.env
.env.*
!.env.example

# SQLite Databases (optional, but usually good to ignore for git)
*.db
*.sqlite
*.sqlite3
*-wal
*-shm

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
